@import "tailwindcss";

:root {
  --background: #282C33;
  --foreground: #fff;
  --primary: #C778DD;
  --gray: #ABB2BF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Spline laptop */
.spline-wrapper {
  width: 500px;       /* fixed width */
  height: 500px;      /* fixed height */
  overflow: hidden;
  position: relative;
}

.spline-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;  /* keeps proportions fixed */
}
